<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table table-striped table-responsive-sm">
  <thead>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Customer</th>
      <th scope="col">Total</th>
      <th scope="col">Items</th>
      <th scope="col">Cart Subtotal</th>
      <th scope="col">Cart Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <%if order.customer.present? %>
        <td><%= order.customer.first_name %> <%=order.customer.last_name %></td>
      <% else %>
        <td></td>
      <% end %>
      <td>$<%= order.total_after_tax / 100.00%></td>
      <td><%= order.cart.products_qty %></td>
      <td>$<%= order.cart.subtotal / 100.00 %></td>
      <% if order.pending %>
         <td><%= link_to "Pending", cart_path(order.cart), class: "badge badge-warning"%></td>
      <%elsif order.cart.paid && !order.disputed %>
        <td><span class="badge badge-success">Paid</span></td>
      <%elsif order.disputed %>
        <td><span class="badge badge-danger">Disputed</span></td>
      <% end %>
      <% if !order.cart.paid %>
        <td><%= button_to "Pay", {controller:'charge', action: "create", amount: order.total_after_tax ,order_id: order.id}, method: :post, class: "btn btn-success"%></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
