<p id="notice"><%= notice %></p>

<h1>Cart</h1>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Description</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @cart.line_items.each do |item| %>
    <tr>
      <td><%=  item.product.name %></td>
      <td><%=  item.product.description %></td>
      <td><%=  item.qty %></td>
      <td>$<%=  item.total_price / 100.00%></td>
      <td><%= button_to "Remove", {controller:'carts', action: "remove_item", id: @cart.id, item_id: item.id}, method: :post, class: "btn btn-danger btn-sm"%>
      <%= button_to "Add", {controller:'line_items', action: "add_to_cart",cart_id: @cart.id, product_id: item.product_id}, method: :post, class: "btn btn-info btn-sm"%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>Total: <span> $<%=@cart.subtotal / 100.00%></span></h2>
<%= button_to "Place Order", {controller:'carts', action: "place_order", id: @cart.id}, method: :post, class: "btn btn-success btn-lg float-right"%>

<br>
